body::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}

.navbar {
  background-color: #8f108f2d;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

input {
  border-bottom: 1px solid white !important;
  box-shadow: 0 1px 0 0 white !important;
}

.backg {
  background-color: #282c34;
}
